@import "tailwindcss";

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #A37C34;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.label {
  font-size: 14px;
  color: #A37C34;
  margin-bottom: 10px;
  display: block;
  letter-spacing: 1px;

}

.input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  background: #000000;
  border: 0.75px solid #A37C34;
  color: #A37C34;
  font-size: 10px;
  outline: none;
}

textarea.input {
  height: 100px;
}

.input::placeholder {
  color: #A37C34;
}

.input:focus {
  border-color: #d4a94f;
}
.overflow-custom{
  overflow-x: hidden !important;
}

